
.formWrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.listwrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.isEditing{
   opacity: .3;
}


.bar{
    width: 84%;
    height:3px;
    background-color:  #3a72da;
    margin: 30px auto;

    &:first-child{
        margin-top:0;
    }
    &:last-child{
        display: none;
    }
    
}

.accountWrapper{
    width: 100%;
    display: flex;
    margin-bottom: 60px;
    align-items: space-between;
       
}
    .accountItem{
        display: flex;
        color:#303030;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;

        &:last-child{
            &::after{
                content:'$';
            }
        }
    }

    
@media screen and (max-width:678px){
        .accountItem{
            letter-spacing: 0;
            font-size: 16px;
        }

       
}
@media screen and (max-width:678px){
    .listwrapper{
        width: 95vw;
    }

}