
<div class="wrapper">
    <div class="box"> {{ item.name}}   </div>  
    <div class="box"> {{ item.keyWords}}  </div>   
    <div class="box"> {{ item.bidAmount}}   </div>
    <div class="box"> {{ item.campaignFound}}  </div>
    <div class="box"> {{ item.status}}  </div>
    <div class="box"> {{ item.town}}  </div>
    <div class="box"> {{ item.radius}}  </div>
    
    <button class="editBtn"(click)="edit()"><i class="far fa-edit"></i></button> 
    <button class="deleteBtn"(click)="delete()"><i class="far fa-trash-alt"></i></button>
</div>

