

.wrapper{
    display:grid;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr  1fr 1fr  1fr  1fr;
    grid-template-rows: 50px;    
    align-items: center;
    margin: 0 10%;
    .box{
        //text-align: center;
    }
   
}

.editBtn{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #3a72da;
    border: none;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
}
.editBtn:hover{
    cursor: pointer;
    background-color: #4382f7;
   
}

.deleteBtn{
    @extend .editBtn;
    background-color: #c24c4c;
}
.deleteBtn:hover{
    cursor: pointer;
    background-color: #fd6d6d;

}
label{
    display: none;
}

@media screen and (max-width:678px){
   
    label{
        display: block;
        font-weight: 500;
        
    }
.wrapper{
    display:grid;
    font-size: .9rem;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr  1fr 1fr  1fr;    
    text-align: start;
    margin: 20px 0;
}

}

@media screen and (max-width:1600px){
    .editBtn{
        width: 30px;
        height: 30px;
        margin:2px;
    }
}
