
<div class="{{(header)? 'header':'wrapper'}}" >
    <label> Name: </label>  
    <div> {{ item.name}}   </div>
    <label> Key wodrs: </label>    
    <div> {{ item.keyWords}}  </div>   
    <label> Bid amount: </label>  
    <div> {{ item.bidAmount}}   </div>
    <label> Campaing found: </label>  
    <div> {{ item.campaignFound}}  </div>
    <label> status: </label>  
    <div> {{ item.status}}  </div>
    <label> Town: </label>  
    <div> {{ item.town}}  </div>
    <label> Radius: </label>  
    <div> {{ item.radius}}  </div>
    
    <button class="editBtn"(click)="edit()" [hidden]="header"><i class="far fa-edit"></i></button> 
    <button class="deleteBtn"(click)="delete()" [hidden]="header"><i class="far fa-trash-alt"></i></button>
</div>

