@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.ng-select .ng-select-container {
        
    input{
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        padding: 0!important;
        margin: 0!important;  
    }
    .ng-input{
        padding: 0!important;
        margin: 0!important;
        min-width: 200px;

    }
}

