
:host{
    overflow: hidden;
}
.wrapper{
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border-radius: 3px; 
    align-items: center;
    justify-content: center;
    padding-left: 5vw; 
    padding-right: 5vw; 
    margin-top:2px;
    display: flex;
    overflow: hidden;

}
input { outline: none; 
    min-width: 50px;
}
.formItem{
    border-right: 1px solid lightgrey;
    min-width: 160px;

    &:first-child{
        border-left: 1px solid lightgrey;

    }

}
.input{
    min-width: 100px;
    display: flex;
    height: 50px;
    border:none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 10px;

        &::placeholder{
            color:#303030;
            opacity: .5;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }

}
.isEmpty{
    @extend .input;
   // border: 1px solid red;

}
.select{
    @extend .input;  
    padding: 0;
    margin: 0;
}

.submitBtn{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color:#1e58ff;
    border: none;
    color: whitesmoke;
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
}
.submitBtn:hover{
    cursor: pointer;
    background-color: #5891fc;
   

}
.resetBtn{
    margin-left: 3px;
    font-size: 18px;
    border: none;
    box-shadow: none;
    background-color: #30303054;
    background-color: white;
}
.resetBtn:hover{
    cursor: pointer;
    color: #fd6d6d;
    

}
.label{
    font-size: 13px;
    color: red;
    display: block;
    margin-left: 10px;
}


@media screen and (max-width:1600px){
    .wrapper{
        width: 80%;
        justify-content: start;
        margin-left: 10px; 
        margin-right: 10px; 
        margin-top:2px;
        flex-direction: column;
    }

    .formItem{
        border-right: none;
        width: 400px;
        border-bottom: 2px solid lightgrey ;
    
        &:first-child{
            border-left: none;
    
        }
    
    }
    .submitBtn{
        margin-top:20px;
    }
    .resetBtn{
        margin-top: 5px;
    }

}