<form #ngForm="ngForm" (ngSubmit)="submit(ngForm)" autocomplete="off">
    <input
        class="input"
        [ngModel]="this.form.name" 
        name="name" 
        type="text" 
        required 
        placeholder="name"
    >
    <!-- <div *ngIf="name.oninvalid">*This field is required</div> -->
    <!-- <input [ngModel]="this.form.keyWords" name="keyWords" type="text" required>  -->
    <ng-select 
        class="select custom " 
        name="keyWords"
        [ngModel]="this.form.keyWords"
        [ngModelOptions]="{standalone: false}"
        [items]="keyWords"
        bindLabel="name"
        placeholder="key words"
        [multiple]="true"
        >
        </ng-select>  

    <input class="input"
        [ngModel]="this.form.bidAmount" 
        name="bidAmount" 
        type="text" 
        required 
        placeholder="bid amount"
    > 
    <input 
        class="input"
        [ngModel]="this.form.campainFound" 
        name="campainFound" 
        type="text" 
        required
        placeholder="capain Found"
    > 
    <ng-select  
        class="select custom"
        name="status"
        [ngModel]="this.form.status"
        [ngModelOptions]="{standalone: false}"
        [items]="status"
        bindLabel="name"
        placeholder="Status"
        [multiple]="false"
        [searchable]="false"
        >
    </ng-select>
    <ng-select 
        class="select custom"
        name="town"
        [ngModel]="this.form.town"
        [ngModelOptions]="{standalone: false}"
        [items]="cities"
        bindLabel="name"
        placeholder="town"
        [multiple]="false"
    >
    </ng-select>
    <input 
        class="input"
        [ngModel]="this.form.radius" 
        name="radius" 
        type="text"
        placeholder="radius [km]"
    > 

    <button type="submit">ADD</button>
    <button type="reset" >RESET</button>
</form>
